* {
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

body {
    font-family: "open sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --background-color: #eee;
    --background-color2: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color2);
    padding: 15px;


}

.logo {
    font-weight: 400;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-weight: 300;
}

.part2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    background-color: var(--background-color);

}

h1 .blue {
    color: rgb(67, 90, 184);
}

.options {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color2);
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}

.flex p {
    font-weight: 300;
}

.img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.about-us {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    /* margin-top: 5px; */

}

.right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.imgg {
    display: flex;
    width: 600px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid white;

}

.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
}

.box1,
.box2,
.box3 {
    padding: 20px 120px;
    text-align: center;
}

.box1 {
    background-color: brown;
}


.box2 {
    background-color: #0075ff;
}

.box3 {
    background-color: #009688;

}

.box1::first-line,
.box2::first-line,
.box3::first-line {
    font-weight: bold;
    font-size: 30px;
}

.box1 p,
.box2 p,
.box3 p {
    font-weight: 400;
}

.final {
    background-color: var(--background-color);
}

.final h2 {
    text-align: center;
    padding: 10px;
}

.skill {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 5px;

}

.tittle {
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
    width: 30px;
}

.bar {

    width: 500px;
    height: 20px;
    background-color: whitesmoke;
    position: relative;
}

.fill {
    background-color: #0693e3;
    padding-right: 10px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    height: 100%;
    color: white;
    font-weight: 400;
}

.html-width {
    width: 60%;
}

.cplus-width {
    width: 65%;

}

.css-width {
    width: 70%;
}

.js-width {
    width: 80%;
}

.csharp-width {
    width: 50%;
}

footer {
    background-color: rgb(54, 53, 53);
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.name {
    color: blue;

}